# Copie esse arquivo para facebook-app-id.properties e altere as propriedades
# Conforme os valores para seu aplicativo em
# https://developers.facebook.com/apps
facebok.app.id= 999999999999999
facebook.app.secret=99999999999999aaaaaaaaaaaaaaaaaa
facebook.app.site_url=https://my-app.appspot.com
facebook.app.permissions=user_photos,friends_photos,publish_stream,photo_upload

